{
  "branches": ["main"],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    [
      "@semantic-release/npm",
      {
        "pkgRoot": "devind-rich-text-editor/dist"
      }
    ],
    "@semantic-release/github"
  ]
}